{% extends 'base.html' %}

{% block header %}
  <h3>
      Read-On-Demand
  </h3>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card">
          <form action="{{ url_for('rod') }}" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div class="card-content">
              <span class="card-title">Read-On-Demand</span>
                <p>
                    Enter the URL to your document.
                </p>
                {{ form.url() }}
              <h2>OR</h2>
              <br/>
              <p>
                Upload PDF
              </p>
              {{ form.docupload() }}
            </div>
              <div class="card-action">
              {{ form.submit(class_='btn waves-effect waves-light') }}
            </div>
          </form>
      </div>
    </div>
  </div>

{% if output %}
<div class="row">
  Status: {{ output['status'] }}
  Reason: {{ output['reason'] }}
  Response: {{ output['response'] }}
</div>
{% endif %}

{% endblock %}