{#% extends 'base.html' %#}
{% extends 'modal-base.html' %}

{% block header %}
    <h1>Incident</h1>
{% endblock %}

{% block content %}
    {{ form.hidden_tag() }}
    <div class="card-content">
        <span class="card-title"></span>
        {{ form.incname.label }} {{ form.incname() }}
        {{ form.incdate.label }} {{ form.incdate(class_="datepicker") }}
        {{ form.fulldesc.label }} {{ form.fulldesc() }}
    </div>
{% endblock %}

{% block actions %}
    <button value="Submit (test)" onclick="javascript:submitModalForm();"/>
{% endblock %}
